Правила игры.

Раз в день проводится турнир из 256 игроков по полной олимпийской системе.
Наша команда состоит из 6 игроков: KANGAROO KOALA ECHIDNA WOMBAT SHARK KOOKABURRA.
Каждому игру ставится карта, игрокам команды - самые слабые.
За день каждый игроков может прокачаться, для этого нужно решать текущие задачи.
45 минут + 15 минут перерыв
Одна сессия - 2х40 минут непрерывной работы внутри заданного интервала времени. Для каждого участника свой интервал

KANGAROO:   10:00 - 12:00
KOALA:      12:00 - 16:00
ECHIDNA:    16:00 - 18:00
WOMBAT:     18:00 - 20:00
SHARK:      20:00 - 00:00
KOOKABURRA: 00:00 - 02:00

9-11,11-13,13-15,15-17
22
Можно начинать раньше, если сессия прошлого игрока закончена. 4-х часовые интервалы нужны для еды

E
D топ-128 х3 х2
C топ-64 х3 х2
B топ-32 х3 х2
A топ-16 х3 х2
S топ-8 х3 х2
M топ-4 х3 х2

E
D топ-64 х3 х2
C топ-32 х3 х2
B топ-16 х3 х2
A топ-8 х3 х2
S топ-4 х3 х2
M топ-2 х3 х2
?

командный 45 команд по 3 (топ 3 из 6) + 3 команды по Х из других колод
E
D топ-32 х3 х2
C топ-16 х3 х2
B топ-8 х3 х2
A топ-4 х3 х2
S топ-2 х3 х2
M топ-1 х3 х2

За каждые 45 минут можно получить 
5 до 9
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0
2 4 6 7 8 9 0 0 1 1 2 2 3 3 4 4 5 5 
2 4 6 8 0 1 2 3 4 5

